{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="{%static 'app/css/style.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/owl.carousel.min.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/all.min.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/main.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/btn.css'%}" rel="stylesheet"/>
        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
        <script src="{%static 'app/js/owl.carousel.min.js'%}"></script>
        <script src="{%static 'app/js/all.min.js'%}"></script>
        <script src="{%static 'app/js/myscript.js'%}"></script>
        <script type="text/javascript">
          var user ='{{request.user}}'
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>
        
        <title>CameraV</title>
        <link rel = "icon" href = "{% static 'app/images/logo_mayanh.png' %}" type = "icon">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
                <!--Navbar-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'app/images/banner/5.jpg' %}" width="50px" height ="50px" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang Chủ</a>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sản phẩm
                    </a>
                    <ul class="dropdown-menu">
                      {% for i in categories %}
                      <li><a class="dropdown-item" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart' %}">Giỏ Hàng</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Liên Hệ</a>
                </li>
                </ul>
                <form class="d-flex" role="search" method=POST action="{% url 'search'%}">
                  {% csrf_token %}
                  {% comment %} <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='searched'> {% endcomment %}
                  <input type="search" placeholder="Nhập từ khoá..." name="searched" class="input form-control me-2">
                  <button class="btn btn-outline-success button_top" type="submit">Search</button>
                </form>
              </div>

                <div class="d-flex form-inline my-2 my-lg-0" style ="visibility: {{user_not_login}};margin-left: 10px;">
                    <a class="nav-link a-link" href={% url 'login' %} style="margin-right: 10px;" >Đăng Nhập</a>
                    <a class="nav-link a-link" href={% url 'register' %}>Đăng Ký</a>
                  </div>

                  <div class="form-inline my-2 my-lg-0 " style ="visibility: {{user_login}}">
                    <span style="margin-left: 10px;">Chào! {{request.user}}</span>           
                  </div>
                  <div class="form-inline my-2 my-lg-0 " style ="visibility: {{user_login}}">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" style="left: -82px">
                      <li><a class="dropdown-item" href="{%url 'logout'%}" >Đăng Xuất</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{%url 'profile'%}">Profile</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="form-inline my-2 my-lg-0"style ="visibility: {{cart_not_login}}">
                <a href="{% url 'cart' %}">
                  <img id ="cart-icon" src="{% static 'images/cart.png' %}"/>
                </a>
              </div>
              <p id ="cart-total" style ="visibility: {{cart_items_not_login}}">{{cartItems}}</p>

            </div>
          </nav>
          <!--End Navbar-->
          <!--Main Body-->
          {% block banner_slider %}{% endblock banner_slider %}
          {% block main-content %}{% endblock main-content %}
          {% block cart_content %}{% endblock cart_content %}
          {% block content_checkout %}{% endblock content_checkout %}
          {% block register %}{% endblock register %}
          <!--End Main Body-->

          <!--Footer-->
          {% comment %} <footer class="container--fluid bg-success text-center fixed-bottom p-2 mt-5">
            Copyright 2023
          </footer> {% endcomment %}
          <!--End Footer-->
          <!-- Remove the container if you want to extend the Footer to full width. -->
  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4 text-white"
             style="background-color: #21D192"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Bài code này được thực hiện bởi tôi</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">WEB</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Một số thông tin cần thiết và phương thức liên lạc đến tôi 
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Kinh Nghiệm</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">C, C++, C#</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Python</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Django</a>
            </p>
            <p>
              <a href="#!" class="text-dark">HTML, CSS</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Kinh Nghiệm</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">.NET</a>
            </p>
            <p>
              <a href="#!" class="text-dark">NODE</a>
            </p>
            <p>
              <a href="#!" class="text-dark">JavaScript</a>
            </p>
            <p>
              <a href="#!" class="text-dark">SQL</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Liên Hệ</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Lê Văn Việt</p>
            <p><i class="fas fa-envelope mr-3"></i> viet@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 84 976 772 456</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->
        <script src="" async defer></script>
        <script src="{%static 'app/js/cart.js'%}"></script>
    </body>
</html>